/*
Author : Marina Boudin, Coralie Muller

Theme sombre #333333 #262626 #cc2900
*/
hr{border:0;border-top:1px solid #eee;margin:20px 0}
body{
  color:#cc2900;
  margin: 0px;
  background-image:url("https://images.ecosia.org/tNPSl-v8r8vhWd-xAsB5lcz8xi0=/0x390/smart/http%3A%2F%2F31.media.tumblr.com%2Fc83af831caebce77b07a6f2891ea60b9%2Ftumblr_mf3wabFszx1rc7pm9o1_500.gif");
  text-align: center;
}
ul {
  list-style-type: none;
  margin:0px;
  padding: 0;
  overflow: hidden;
  display: block;
  background-color: #f2f2f2;
  border: solid #cc2900 3px;
  box-shadow:0 2px 5px 0 #999999, 0 2px 10px 0 #999999;
}
.ul-analysis-bar{
  border:none;
  border-left: solid #cc2900 3px;
  background-color: #cc2900;
  box-shadow: none;
  margin-top: 10px;
}
li{
  float:left;
}
li a:hover{
  color: #f2f2f2;
  background-color: #cc2900;
}
.li-analysis-bar{
  color: #ffffff;
  background-color: #cc2900;
  margin:0px;
}
a{
  text-decoration: none;
  color:#cc2900;
  background-color: transparent;
  padding: 14px 16px;
  font-weight: bold;
  display: block;
}
.a-analysis-bar{
  color: #ffffff;
  cursor: pointer;
}
button{
  font-size: 16px;
  color: #f2f2f2;
  background-color: #cc2900;
  cursor:pointer;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #999999;
}
button:hover{
  color:#cc2900;
  background-color: #f2f2f2;
  border: 1px solid #cc2900;
}

div{
  margin-top: 2%;
  margin-bottom: 2%;
  color: #cc2900;
  background-color: #f2f2f2;
  margin-left: 25%;
  margin-right: 25%;
  box-shadow: 0 2px 5px 0 #999999, 0 2px 10px 0 #999999;
  border: solid 1px #cc2900;
  padding: 20px;
}

.div_select_data{
  text-align: left;
}

.file{
  font-size: 14px;
  color: #f2f2f2;
  background-color: #cc2900;
  cursor:pointer;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #999999;
}
