/*
Author : Marina Boudin, Coralie Muller
*/
hr{border:0;border-top:1px solid #eee;margin:20px 0}
body{
  color:#cc2900;
  margin: 0px;
  background-color: #333333;
  text-align: center;
}
ul {
  list-style-type: none;
  margin:0px;
  padding: 0;
  overflow: hidden;
  display: block;
  background-color: #262626;
  border: solid #cc2900 3px;
  box-shadow:0 2px 5px 0 black, 0 2px 10px 0 black;
}
.ul-analysis-bar{
  border:none;
  border-left: solid #cc2900 3px;
  background-color: #cc2900;
  box-shadow: none;
  margin-top: 10px;
}
li{
  float:left;
}
li a:hover{
  color: #262626;
  background-color: #cc2900;
}
.li-analysis-bar{
  color: #333333;
  background-color: #cc2900;
  margin:0px;
}
a{
  text-decoration: none;
  color:#cc2900;
  background-color: transparent;
  padding: 14px 16px;
  font-weight: bold;
  display: block;
}
.a-analysis-bar{
  color: #333333;
}
.a-analysis-bar:hover{
  color: #cc2900;
  background-color: #333333;
}
button{
  font-size: 16px;
  color: #262626;
  background-color: #cc2900;
  cursor:pointer;
  text-align: center;
  vertical-align: middle;
  border: 1px solid black;
}
button:hover{
  color:#cc2900;
  background-color: #262626;
  border: 1px solid #cc2900;
}

div{
  margin-top: 2%;
  margin-bottom: 10%;
  color: #cc2900;
  background-color: #262626;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 0 2px 5px 0 black, 0 2px 10px 0 black;
  padding: 0.01em 16px;
  border: solid 1px #cc2900;
}
